<html>
        <head>
            <title>Mi Primer Blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Mi primer Blog</a></h1>
            </div>

            <div>
                <p>published: 13.01.2017, 11:14</p>
                <h2><a href="">Primer post</a></h2>
                <p>Hola, a todo el mundo</p>
            </div>

            <div>
                <p>published: 13.01.2017, 11:51</p>
                <h2><a href="">No se que poner</a></h2>
                <p>Hola a todosss</p>
            </div>
        </body>
    </html>
